{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'user_manager/style/form_style.css' %}">
    <div class="form-wrapper">
        <h2>Prihlásiť</h2>
        <form method="post">
            {% csrf_token %}
            <table>
                <span class="error">{{ error_message }}</span>
                {% for field in form %}
                    <tr>
                        <td>
                            {{ field.label_tag }}
                        </td>
                        <td>
                            {{ field }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <button class="form-submit-button" type="submit">Prihlásiť</button>
        </form>
    </div>
{% endblock %}
