{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/blog/blogs_style.css' %}">
    <h2>{{ blog.title }}</h2>
    <hr>
    <div style="margin: 15px;">{{ blog.content }}</div>
    <hr>
    <div class="information-text">
        <div style="text-align: center">
            Počet používateľov, ktorý označilo blog ako obľúbený: {{ likes.count }}
        </div>
        <img class="blog-header-icon information" src="{% static 'images/blog_liked_icon.png' %}" alt="">
    </div>
    <hr>
    {% include 'blog/comments.html' %}
{% endblock %}